.block-block-content528aed0b-26de-4dd4-a329-397e79595850 {
  border-top: 6px solid $gray_color;
  &:after {
    content: "";
    width: 33.5%;
    border: 3px solid $dark_blue_color;
    position: absolute;
    top: -6px;
    z-index: 4;
  }
  .content {
    .flex-wrap-lines {
      display: flex;
      .field--name-field-headline {
        flex: 8%;
        max-width: 8%;
        padding: 120px 0 50px;
        font-size: 28px;
        text-transform: uppercase;
        color: $dark_blue_color;
        font-weight: 700;
      }
      .field--name-body {
        width: 82%;
        flex: 82%;
        padding: 120px 0 50px;
        p {
          font-size: 21px;
          text-transform: uppercase;
          padding: 5px 0 0 5px;
          color: #dbdbdb;
        }
      }
      .field--name-field-read-more {
        padding: 130px 0 50px;
        a {
          background-color: $blue_color;
          color: $white_color;
          border-radius: 0;
          padding: 5px;
          font-size: 14px;
          text-transform: uppercase;
          &:hover, &:active, &:focus {
            background-color: $white_color;
            border: 1px solid $blue_color;
            color: $dark_blue_color;
            text-decoration: none;
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 105px;
        width: 100%;
        border: 3px solid $dark_blue_color;
      }
      &:after {
        content: "";
        position: absolute;
        top: 170px;
        width: 100%;
        border: 3px solid $blue_color;
      }
    }
    &:before {
      content: "";
      width: 33%;
      border: 3px solid $blue_color;
      position: absolute;
      top: -6px;
      z-index: 5;
    }
  }
}
