.toast-wrapper {
  visibility: hidden;
}
.contact-container {
  .section {
    display: flex;
    text-transform: uppercase;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    .block-webform-block {
      flex: 50%;
      width: 50%;
      input::placeholder, textarea::placeholder {
        text-transform: uppercase;
      }
      .form-control {
        padding: 25px 10px;
        border-radius: 0;
      }
      button {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px 20px;
        text-transform: uppercase;
        background-color: #ff3232;
        border: none;
      }
      .form-textarea-wrapper .form-control {
        padding: 10px 10px 60px;
      }
    }
    .block-block-content0b9ee6a7-1e18-4d54-8146-60c448d1c6ff {
      flex: 50%;
      width: 50%;
      padding: 0 10px;
      h2 {
        font-size: 16px;
        text-align: left;
        font-weight: 700;
      }
      a {
        color: $black_color;
        font-size: 16px;
        text-decoration: none;
        text-transform: none;
        &:hover, &:active, &focus {
          text-decoration: none;
        }
      }
    }
    > hr {
      position: absolute;
      width: 36px;
      border-bottom: 4px solid $gray_color;
      top: 30px;
      left: 48%;
    }
    > h2 {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 80px;
    }
  }
}
.cat-form {
  .alert-danger {
    padding: 20px;
    .list-group-item {
      background-color: #ff4444;
    }
  }
  input {
    padding: 1.5625rem 0.625rem;
    border-radius: 0;
  }
  button {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0.9375rem 1.25rem;
    text-transform: uppercase;
    background-color: #ff3232;
    border: none;
  }
  .form-required {
    margin-top: 10px;
  }
  #form-system-messages {
    button {
      background-color: transparent;
      margin-top: 5px;
    }
  }
  .form-file {
    padding: 3px 5px 0;
    width: 300px;
  }
  .file--image {
    margin-right: 55px;
  }
  .messages--error {
    background-color: #ff4444;
    padding: 12px;
    color: #FFF;
    margin: 10px 0;
    border-radius: 5px;
  }
}
.underline_cats {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  span {
    font-weight: 700;
    padding: 0 5px 0 0;
  }
}
.underline_cats {
  &:nth-of-type(1) {
    border-top: 1px solid #999;
    padding-top: 10px;
  }
}
.image-container {
  height: 400px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

/* Add padding and center-align text to the container */

.deleteCat {
  background-color: #ff3232;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 120px;
  text-align: center;
  .container {
    padding: 16px;
  }
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 85px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  button  {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 320px;
    opacity: 0.9;
    display: block;
    border-radius: 5px;
  }

  button:hover {
    opacity:1;
  }
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  .form-submit {
    background-color: #ff3232;
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
