
.block-views-blockprojects-views-block-1 {
  > h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 75px 0;
    &:before {
      content: "";
      width: 44.5%;
      border-top: 1px solid $gray_color;
      top: 15px;
      right: -15px;
      position: absolute;
    }
    &:after {
      content: "";
      width: 44.5%;
      border-top: 1px solid $gray_color;
      top: 15px;
      left: -15px;
      position: absolute;
    }
  }
  .item-list--blazy {
    width: 100%;
  }
  .list-group-item {
    &:nth-child(2n - 1) {
      .field--name-field-category {
        color: $green_color;
      }
    }
    &:nth-child(2n) {
      .field--name-field-category {
        color: $purple_color;
      }
    }
    &:nth-child(4n - 1) {
      .field--name-field-category {
        color: $red_color
      }
    }
    &:nth-child(4n) {
      .field--name-field-category {
        color: $cyan_color;
      }
    }
  }
  .block-column.block-count-4.large-block-column-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .list-group-item {
      flex: 25%;
      width: 25%;
      .field--name-node-title {
        h2 {
          font-size: 24px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .field--name-field-category {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
      }
      .field--name-node-link {
        border-bottom: 1px solid $black_color;
        width: 90%;
        margin: 0 auto;
        a {
          text-align: center;
          font-style: normal;
          background-color: $black_color;
          padding: 5px 0;
          font-size: 14px;
          color: $white_color;
          text-transform: uppercase;
          width: 80px;
          margin: 10px auto 20px;
          display: block;
          &:active, &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
  .pagination {
    justify-content: center;
    .page-item, .pager__item--next {
      .page-link {
        border: none;
        background: $white_color;
        color: $black_color;
        &:hover, &:active, &:focus, .active {
          background: $gray_color;
          border-radius: 50%;
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    .active {
      .page-link {
        background: $gray_color;
        border-radius: 50%;
      }
    }
  }
}
