.block-views-blockclients-block-1 {
  > h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 75px 0;
    &:before {
      content: "";
      width: 44.5%;
      border-top: 1px solid $gray_color;
      top: 15px;
      right: -15px;
      position: absolute;
    }
    &:after {
      content: "";
      width: 44.5%;
      border-top: 1px solid $gray_color;
      top: 15px;
      left: -15px;
      position: absolute;
    }
  }
}
